* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.header-section {
    background-image: url(Screenshot_1.png);
    background-position: center;
    background-size: cover;
    align-items: center;
    height: 100vh;
    display: flex;
    background-color: aliceblue;
    color: white;

}

.h2 {
    font-size: 60px !important;
    margin-left: 70px;
    margin-top: 50px !important;
}

.p-tag {
    font-size: 30px;
    margin-left: 70px;
}

.img {
    margin-top: -380px !important;
    margin-left: 30px;
}
body{
    background-color: #FCEAD9 !important;
}

.button {
    color: white !important;
    font-size: 30px !important;
    background-color: #8292AF !important;
    margin-left: 70px !important;
}

.button:hover {
    background-color: #C7B7CA !important;
    color: black !important;
}


.product-feauter {
    padding: 60px 0px; 
}

.product-feauter h2 {
    text-align: center;
    margin-bottom: 50px;
    font-weight: 600;
}

.feature-card {
    padding: 20px;
    background-color: #FEFADB;
    border-radius: 25px;
    box-shadow: 8px 8px 8px 5px rgba(0, 0, 0, 0.2);
    margin-bottom: 27px;
    transition: transform 0.5 ease;
}

.feature-card:hover{
    transform: translate(-10px);
}

.feature-card img {
    margin-bottom: 20px;

    
}

.feature-card h5{
    font-size: 1.7rem;
    margin-bottom: 15px;
    font-weight: 600;
   
}

.feature-card p{
    font-size: 1.2rem;
    font-weight: 300;
}

.image {
    margin-top: -15px !important;
    border-radius: 25px !important;
    margin-left: -10px ;
    height: 230px;
    width: 395px;
  

}

.p-tag-1{
    font-weight: bold;
    background-color: #DBC2CF;
    font-size: 35px;
    color: black;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.button-1 {
    color: white !important;
    font-size: 20px !important;
    background-color: #8292AF !important;
    
}

.button-1:hover {
    background-color: #C7B7CA !important;
    color: black !important;
}

input{
    width: 80%;
    margin-left: 30px;
    margin-top: 25px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 13px !important;
    padding-bottom: 13px !important;
    border-radius: 8px;
    border: none;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.2),
                inset 10px 10px 15px #cdced1,
                inset -10px -10px 15px white;

     

    
}

input:hover{
    background-color: white;
    transition:3.s;
 }

 .p-tag-2 {
    font-size: 20px;
 }

 .font{
    font-size: 18px;
    font-weight: bold;
}

.amm {
    margin-left: 160px !important;
}

.input {
    width: 80%;
  
    margin-bottom: 8px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 13px !important;
    padding-bottom: 13px !important;
    border-radius: 8px;
    border: none;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.2),
                inset 10px 10px 15px #cdced1,
                inset -10px -10px 15px white;

}

.h1-tag {
    text-align: center;
}



/* Responsive */

@media screen and (max-width: 1200px) {
    .hero-section {
       width: 100vh !important;
       
    } 
}